language: c++

matrix:
  include:
    - os: linux
      dist: xenial
      sudo: required
      compiler:
        - gcc
  exclude:
    - os: osx
      compiler: clang
    - os: osx
      compiler: gcc
    - os: linux
      dist: precise
    - os: linux
      dist: trusty

before_install:
- if [ $TRAVIS_OS_NAME == linux ]; then
      sudo add-apt-repository -y ppa:beineri/opt-qt-5.11.2-xenial;
      sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test;
      sudo apt-get update -qq;
  fi
- if [ $TRAVIS_OS_NAME == osx ]; then
      brew update; 
    fi
install:
- if [ $TRAVIS_OS_NAME == linux ]; then
      sudo apt-get install -qq
      g++-6
      qt511base qt511tools
      mesa-common-dev;
      sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90;
  fi
- if [ $TRAVIS_OS_NAME == osx ]; then
      brew outdated cmake --verbose || brew upgrade cmake; 
      brew install qt5;
      brew install openssl && brew link --force openssl; 
      brew outdated pkg-config --verbose || brew upgrade pkg-config; 
    fi
script:
  - if [ $TRAVIS_OS_NAME == linux ]; then
      source /opt/qt511/bin/qt511-env.sh;
      cmake . -DCMAKE_INSTALL_PREFIX=/usr;
      make -j8;
      make install DESTDIR=appdir;
      wget -c "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage";
      chmod a+x linuxdeployqt-continuous-x86_64.AppImage;
      ./linuxdeployqt-continuous-x86_64.AppImage ./appdir/usr/share/applications/mu-image.desktop -appimage;

    fi
  - if [ $TRAVIS_OS_NAME = osx -a $CC = clang ]; then
      cmake . -DBUILD_OSX_BUNDLE=1 -DCMAKE_OSX_ARCHITECTURES="x86_64" -DQT_PREFIX=/usr/local/opt/qt5 -DCMAKE_INSTALL_PREFIX=~/.local;
      make -j8;
      make install;
    fi
